<header class="site-header"<% if (typeof post !== 'undefined' && post.primaryImage) { %> data-target="site-header"<% } %>>
  <div class="site-container site-header__inner">
    <a class="site-logo__link site-title" href="/">{ muddling through code }</a>
  </div>
</header>