<!DOCTYPE html>
<html>
<head>
  <title>404 Page not found <%= siteMeta.website.name %></title>
  <link rel='stylesheet' href='/css/styles.css'>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <% include partials/favicon %>

</head>
<body class="page-404">
<% include partials/site-header %>
<main class="main skinny-container">
  <h1>I got 404 problems and this page ain't one.</h1>
</main>
<% include partials/footer %>
