$root-pixels: 18px;

$site-width: 980px;
$site-padding: 0.5em;

$skinny-width: 700px;
$skinny-padding: 2em;

$body-line-height: 1.6;
$body-font-family: Seravek, Georgia, Palatino, serif;
$title-font-family: Seravek, Georgia, Palatino, serif;

@import "erics_base_variables";
@import "erics_base_styles";
@import "css-breakout";

p, ul, ol, li {
  @include responsive(font-size, 1rem, 0.65rem, 500);
}
code, pre {
  @include responsive(font-size, 0.85rem, 0.6rem, 500);
}

.site-header,
.site-footer {
  background: whitesmoke;
}
.site-header {
  height: 100px;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}
.site-header__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.site-logo {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 500px) {
    max-width: 100%;
  }
}
.site-title {
  font-family: "Courier New", monospace;
  font-size: 2em;
  @include responsive(font-size,2,0.75,700);
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.075em;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}
.site-footer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  border-top: 1px solid #ccc;
}
.site-footer__copyright {
  margin-bottom: 0;
  font-size: 0.675em;
  text-align: center;
}
.about__content p {
  font-size: 0.875em;
}

h1 {
  @include responsive(font-size,1.825, 1.25, 500)
  line-height: 1.2;
  margin-bottom: 2rem;
}
h2 {
  margin: 2rem 0 1rem;
  line-height: 1.2;
  @include responsive(font-size, 1.5, 1, 500);
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.925em;
  margin: 2rem 0 0.5rem
}
pre,
code {
  // font-size: 0.75em;
  line-height: 1.4;
  background: #f0f0f0;
  border: 1px solid #e2e2e2;
}
pre {
  padding: 0.5em 1em;
  overflow: scroll;
}
code {
  padding: 0.25em 0.5em;
}
pre > code {
  // font-size: initial;
  line-height: initial;
  background: initial;
  border: initial;
  padding: 0;
}

ul {
  margin-left: 1em;
}
li {
  text-indent: -0.325em;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left:.5em solid #eee;
  padding: 0 1em;
  margin-left: 0;
}
blockquote cite {
  color:#bfbfbf;
}
blockquote cite:before {
  content: '\2014 \00A0';
}

blockquote p {
  color: #666;
  max-width: 460px;
}
a,
a:hover {
  color: #0366d6;
}
a:hover {
  text-decoration: underline;
}
.more-link__p {
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.more-link__outer {
  &:before {
    margin-right: 0.5em;
    content: "🙈";
  }
}
.more-link {
  font-weight: bold;
  &:after {
    content: " =>";
  }
}

body.post-index {
  .post-index--hide {
    display: none;
  }
}
.post {
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    max-width: 260px;
    background: #aaa;

    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
  }
  &:last-child:after {
    content: none;
  }
}
.post__header {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.post__date {
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 0.875em;
  text-transform: uppercase;
}

@import "erics_base_post";